<div class="cards">
  <ng-container *ngFor="let card of cards">
    <div class="cards__container">
      <img src="{{card.url}}" alt="{{card.name}}" class = "cards__image">
      <div class="containerDescription">
        <div class="containerDescription__description">
          <div>{{card.description}}</div>
          <div>{{card.size}}</div>
        </div>
        <div class="containerDescription__star">
        <!--This need an icon library that we load on index-->
          <span class="fa fa-star containerDescription__star--checked"></span>
        </div>
        <div class="containerDescription__qualification">{{card.qualification}}</div>
      </div>
      <div class="cards__container__button">
        <button class="cards__container__button--search">
          <img src="https://www.iconsdb.com/icons/preview/caribbean-blue/magnifying-glass-2-xxl.png" alt="lupa">
        </button>
        <button class="cards__container__button--shop"></button>
      </div>
    </div>
  </ng-container>
</div>
