
$cardsMargin__ImageDescription: 10px
$cardButton--Height: 30px
.cards
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 10px
  grid-auto-rows: minmax(auto, auto)
  width: 40%
  margin: 40px auto auto auto

  &__container
    grid-column: 1
    grid-row: 1
    box-shadow: 3px 3px 4px #efefef
    border: none
    border-radius: 0px 0px 10px 10px

    &__button
      display: flex
      width: 90%
      height: $cardButton--Height
      margin: auto
      padding: 5px
      border-top: 1px solid black

      &--search
        border: none
        border-right: 1px solid black
        width: 100%

      &--shop
        border: none
        width: 100%


  &__image
    width: 100%

.containerDescription
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 10px
  grid-auto-rows: minmax(auto, auto)

  &__description
    grid-column: 1
    grid-row: 1
    margin: $cardsMargin__ImageDescription auto

  &__star
    grid-column: 2
    grid-row: 1
    margin: $cardsMargin__ImageDescription auto

  &__qualification
    grid-column: 3
    grid-row: 1
    margin: $cardsMargin__ImageDescription auto

  &__star--checked
    color: orange

