<form action="/">
  <div class="titles" style="margin:20px auto; width: 60%;">Contáctanos y te asesoraremos</div>
  <div class="form">
    <div class="form__inputs--container">
      <img class="form__inputs--icon" src="../../assets/images/nombre.png" alt="contact name">
      <input class="form__inputs" type="text" name="name" placeholder="Full name">
    </div>

    <div class="form__inputs--container">
      <img class="form__inputs--icon" src="../../assets/images/correo-electronico.png" alt="contact email">
      <input class="form__inputs" type="email" name="email" placeholder="E-mail">
    </div>

    <div class="form__inputs--container">
      <img class="form__inputs--icon" src="../../assets/images/llamada-telefonica.png" alt="contact phone">
      <input class="form__inputs" type="number" name="phone" placeholder="Phone Number">
    </div>
  </div>
  <div>
    <textarea class="form__textArea" rows="6" placeholder="Message"></textarea>
  </div>
  <button class="form__button" type="submit" href="/">
    <div class="form__button--text">CONTÁCTANOS</div>
  </button>
</form>
